:root {
  --primary-color: #9ba4ed;
  --primary-color-light: #cbd0f6;
  --primary-color-dark: #8692e9;
  --secondary-color: #f37198;
  --secondary-color-light: #f7a1bb;
  --secondary-color-dark: #f05684;
  --accent-color: #2ea8a8;
  --accent-color-light: #3fcaca;
  --accent-color-dark: #279090;
}
